@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixin";
@import "partials/base";
@import "compass/utilities/sprites";

.main-nav {
  position: fixed;
  width:100%;
  z-index:10;
  background-color: $nav-back;
  border: 1px solid green;
  .nav-items {
    text-align: center;
    li {
      display: inline-flex;
      padding: 10px 20px 0 20px;
      font-size: 1.4em;
      color: white;
      text-transform: uppercase;
      font-family: $body-font;
    }
    i {
      color: white;
      text-align: left;
      margin-left: auto;
    }
  }
}
.container {
  width: 100%;
  height: 700px;
  background:image-url("crown.png")center;
  background-size: cover;
  //background: $nav-back;
}
